@tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    :root {
      --background: 0 0% 100%;
      --foreground: 222.2 84% 4.9%;

      --sidebar: 0, 0%, 97.6%;

      --card: 0 0% 100%;
      --card-foreground: 222.2 84% 4.9%;

      --popover: 0 0% 100%;
      --popover-foreground: 222.2 84% 4.9%;

      --primary: 222.2 47.4% 11.2%;
      --primary-foreground: 210 40% 98%;

      --secondary: 210 40% 96.1%;
      --secondary-foreground: 222.2 47.4% 11.2%;

      --muted: 210 40% 96.1%;
      --muted-foreground: 215.4 16.3% 65.1%;

      --accent: 210 40% 96.1%;
      --accent-foreground: 222.2 47.4% 11.2%;

      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 210 40% 98%;

      --border: 214.3 31.8% 91.4%;
      --input: 214.3 31.8% 91.4%;
      --ring: 222.2 84% 4.9%;

      --radius: 0.5rem;
    }

    .dark {
      --background: 222.2 84% 4.9%;
      --foreground: 210 40% 98%;

      --sidebar: 222.2 84% 4.9%;

      --card: 222.2 84% 4.9%;
      --card-foreground: 210 40% 98%;

      --popover: 222.2 84% 4.9%;
      --popover-foreground: 210 40% 98%;

      --primary: 210 40% 98%;
      --primary-foreground: 222.2 47.4% 11.2%;

      --secondary: 217.2 32.6% 17.5%;
      --secondary-foreground: 210 40% 98%;

      --muted: 217.2 32.6% 17.5%;
      --muted-foreground: 215 20.2% 65.1%;

      --accent: 217.2 32.6% 17.5%;
      --accent-foreground: 210 40% 98%;

      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 210 40% 98%;

      --border: 217.2 32.6% 17.5%;
      --input: 217.2 32.6% 17.5%;
      --ring: 212.7 26.8% 83.9%;
    }
  } 

   @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }

  .snow-container {
    /* display: none; */
    position: relative;
    width: 100%;
    height: 260px;
    overflow: hidden;
  }
  
  .snowflake {
    position: absolute;
    top: -10px;
    background-color: white; 
    border-radius: 50%;
    width: 10px;
    height: 10px;
    animation: fall linear 10s infinite;
  }
  
  @keyframes fall {
    0% { transform: translateY(-10px) translateX(0px); }
    100% { transform: translateY(200px) translateX(100px); }
  }


  h1{
    font-size: 42px;
    font-weight: 700;
  }

  h2{
    font-size: 28px;
  }

  .clear-btn{
    margin-top: 1px;
  }

  a{
    cursor: pointer;
  }

  .border-b{
    border-bottom:0px;
    border-bottom-width: 0px !important
  }

  .section-title{
    /* display: none; */
  }

  .line-clamp-4{
    -webkit-line-clamp: 3;
  }

  .tab-menu-options{
    float: right;
    position: sticky;
    top: 57px;
    z-index: 2;
  }

  .lucide-chevron-down{
    width: 0.875rem;
    height: 0.875rem;
  }

  .second-breadcrumb{
    color: hsl(var(--foreground) / .9)
  }