@tailwind base;
  @tailwind components;
  @tailwind utilities;

  @layer base {
    :root {
      --background: 0 0% 100%;
      --foreground: 222.2 84% 4.9%;
      color: #FFFFFF;
      color: #020817;

      /* --sidebar-background: 0, 0%, 97.6%; */
      color: #F9F9F9;
      --sidebar-background: #F1F5F9;
      --sidebar-foreground: #09090B;

      --nav-menu: #09090B;

      --card: 0 0% 100%;
      --card-foreground: 222.2 84% 4.9%;
      --card-hover: #F1F5F9;
      color: #FFFFFF;
      color: #020817;

      --card-background: #F9FAFb;

      --card-tag: #006adc;;
      --card-tag-text: #F1F5F9;;

      --badge-category-background: #E1EFFE;
      --badge-category-text: #1E429f;
      --badge-category-border: rgba(118, 169, 250, .1);

      --badge-location-background: #F3F4F6;
      --badge-location-text: #1F2937;
      --badge-location-border: rgba(107, 114, 128, .1);

      --badge-tag-background: rgb(222 247 236);
      --badge-tag-text: rgb(3 84 63);

      --popover: 0 0% 100%;
      --popover-foreground: 222.2 84% 4.9%;
      color: #FFFFFF;
      color: #020817;

      --primary: 222.2 47.4% 11.2%;
      --primary-foreground: 210 40% 98%;
      color: #0F172A;
      color: #FAF8FC;

      --secondary: 210 40% 96.1%;
      --secondary-foreground: 222.2 47.4% 11.2%;
      color: #F1F5F9;
      color: #0F172A;
      --secondary-hover:rgba(223, 232, 241, .8);

      --country-badge-list: #f9f1f5;
      --country-badge-list-hover: ;

      --muted: 210 40% 96.1%;
      --muted-foreground: 215.4 16.3% 65.1%;
      color: #F1F5F9;
      color: #97A3B5;

      --card-description: #69727e;

      --accent: 210 40% 96.1%;
      --accent-foreground: 222.2 47.4% 11.2%;
      color: #F1F5F9;
      color: #0F172A;

      --destructive: 0 84.2% 60.2%;
      --destructive-foreground: 210 40% 98%;
      color: #EF4444;
      color: #FAF8FC;

      --border: 214.3 31.8% 91.4%;
      --input: 214.3 31.8% 91.4%;
      --ring: 222.2 84% 4.9%;
      color: #E2E8F0;
      color: #E2E8F0;
      color: #020817;

      --radius: 0.5rem;

      /* MUTED FOREGROUND COLORS */

      /* --muted-foreground: #97A3B5; */
      --muted-foreground-10: #8792a2;
      --muted-foreground-20: #788290;
      --muted-foreground-30: #69727e;
      --muted-foreground-40: #5a616c;
      --muted-foreground-50: #4b515a;
      --muted-foreground-60: #3c4148;
      --muted-foreground-70: #2d3036;
      --muted-foreground-90: #1e2024;
      --muted-foreground-90: #0f1012;


      --gray-10: #fcfcfc;
      --gray-20: #f9f9f9;
      --gray-30: #f0f0f0;
      --gray-40: #e8e8e8;
      --gray-50: #e0e0e0;
      --gray-60: #d9d9d9;
      --gray-70: #cecece;
      --gray-80: #bbb;
      --gray-90: #8d8d8d;
      --gray-100: #838383;
      --gray-110: #646464;
      --gray-120: #202020;

      --violet-20: #fbfaff;
      --violet-40: #ede9fe;
      --violet-90: #6e56cf;
      --violet-110: #5746af;

      --blue-10: #fbfdff;
      --blue-20: #f5faff;
      --blue-30: #edf6ff;
      --blue-40: #e1f0ff;
      --blue-50: #cee7fe;
      --blue-60: #b7d9f8;
      --blue-80: #5eb0ef;
      --blue-90: #0091ff;
      --blue-100: #0081f1;
      --blue-110: #006adc;
      
    }

    .dark {
      --background: 222.2 84% 4.9%;
      --foreground: 210 40% 98%;
      color: #020817;
      color: #F8FAFC;

      --sidebar: 222.2 84% 4.9%;
      color: #020817;
      --sidebar-background: #020817;
      --sidebar-foreground: #F8FAFC;

      --card: 222.2 84% 4.9%;
      --card-foreground: 210 40% 98%;

      --card-hover: #0d1219;
      color: #020817;
      color: #F8FAFC;

      --card-tag: #F8FAFC;;
      --card-tag-text: #020817;;

      --badge-category-background: rgba(28, 44, 94, 1);
      --badge-category-text: rgba(164, 202, 254, 1);
      --badge-category-border: rgba(118, 169, 250, 0);

      --badge-location-background: rgb(55 65 81);
      --badge-location-text: rgb(156 163 175);
      --badge-location-border: rgba(107, 114, 128, 0);

      --badge-tag-background: rgb(1 71 55);
      --badge-tag-text: rgb(132 225 188);
      --badge-tag-border: rgb(49 196 141);

      --popover: 222.2 84% 4.9%;
      --popover-foreground: 210 40% 98%;
      color: #020817;
      color: #F8FAFC;

      --primary: 210 40% 98%;
      --primary-foreground: 222.2 47.4% 11.2%;
      color: #F8FAFC;
      color: #0F172A;

      --secondary: 217.2 32.6% 17.5%;
      --secondary-foreground: 210 40% 98%;
      color: #1E293B;
      color: #F8FAFC;

      --secondary-hover: rgba(39,53,76, 1);

      --muted: 217.2 32.6% 17.5%;
      --muted-foreground: 215 20.2% 65.1%;
      color: #1E293B;
      color: #94A3B8;

      --card-description: #768293;

      --accent: 217.2 32.6% 17.5%;
      --accent-foreground: 210 40% 98%;
      color: #1E293B;
      color: #F8FAFC;

      --destructive: 0 62.8% 30.6%;
      --destructive-foreground: 210 40% 98%;
      color: #7F1D1D;
      color: #F8FAFC;

      --border: 217.2 32.6% 17.5%;
      --input: 217.2 32.6% 17.5%;
      --ring: 212.7 26.8% 83.9%;
      color: #1E293B;
      color: #1E293B;
      color: #CBD5E1;
    }
  } 

   @layer base {
    * {
      @apply border-border;
    }
    body {
      @apply bg-background text-foreground;
    }
  }

  .snow-container {
    /* display: none; */
    position: relative;
    width: 100%;
    height: 260px;
    overflow: hidden;
  }
  
  .snowflake {
    position: absolute;
    top: -10px;
    background-color: white; 
    border-radius: 50%;
    width: 10px;
    height: 10px;
    animation: fall linear 11s infinite;
  }
  
  @keyframes fall {
    0% { transform: translateY(-10px) translateX(0px); }
    100% { transform: translateY(250px) translateX(100px); }
  }


  h1{
    font-size: 42px;
    font-weight: 700;
  }

  h2{
    font-size: 28px;
  }

  h3{
    font-size: 18px;
  }

  .clear-btn{
    margin-top: 1px;
  }

  a{
    cursor: pointer;
  }

  .border-b{
    border-bottom:0px;
    border-bottom-width: 0px !important
  }

  .section-title{
    /* display: none; */
  }

  .right-side-content{
  transition: padding-left 0.1s ease-in-out; /* Add smooth transition for padding-left */
  }

  .line-clamp-4{
    -webkit-line-clamp: 3;
  }

  .tab-menu .tab-menu-options{
    float: right;
    position: sticky;
    top: 57px;
    z-index: 2;
  }

  .lucide-chevron-down{
    width: 0.875rem;
    height: 0.875rem;
  }

  .breadcrumb{
    font-size: 15px;
  }

  .breadcrumb:hover{
    opacity: .7;
  }

  .breadcrumb.selected{
    color: hsl(var(--foreground));
    font-weight: 500;
  }

  .second-breadcrumb{
    /* color: hsl(var(--foreground) / .9) */
  }

  .badges-switch button{
    width: 2.5rem;
    height: 1.25rem;
  }

  .badges-switch span{
    width: 1rem;
    height: 1rem;

  }