#card-view{
  position: relative;
}

.card-row{
    margin-top: 1.25rem !important;
  }

/* Undoing the website settings */
.space-y-8 > :not([hidden]) ~ :not([hidden]){
    margin-top: 0px !important; 
}

.section-title__img{
    width: 30px;
    margin-right: 10px;
    display: inline;
    vertical-align: sub;
}

.card-categories-list .badge-category{
  color: hsl(var(--secondary-foreground) / .9);
  background-color: hsl(var(--secondary) / .7);
}

.card-categories-list .badge-category:hover{
  color: hsl(var(--secondary-foreground) / 1);
  background-color: hsl(var(--secondary) / 1);
}

.card{
    /* max-height: 144px; */
    max-height: auto;
    position: relative;
    /* background: hsl(var(--muted)); */
}

.card__text-wrapper{
    max-height: 61px;
    /* max-height: 116px; */
    overflow: hidden;
}

.card__text-wrapper h3{
  font-size: 16px;
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 0.25rem;
}

.card__text-wrapper p{
    max-height: 34px;
    color: hsl(var(--muted-foreground))
}

.card:hover {
    background: hsl(var(--muted));
    /* transform: scale(1.02) */
}

.card-link:hover{
  /* background: hsl(var(--muted)); */
}
  
.badge{
    justify-content: center;
    /* margin-top: 10px; */
    width: fit-content;
    /* margin-left: auto;
    margin-right: auto; */
    /* position: absolute;
    top: 10px;
    right: 8px; */
    /* background: rgba(255,255,255,0); */
    font-weight: 500;
    cursor:pointer;
  }

  .badge-wrapper{
    column-gap: .25rem;
    flex-wrap: wrap;
    /* margin-top: -21px; */
  }

  .card .badge-category{
    font-size: 12px;
    /* border: 1px solid hsl(var(--background)); */
    /* background-color: hsl(var(--muted-foreground) / .5); */
      background-color: hsl(var(--secondary) / .5);
    }

  .card .badge-category:hover{
    background-color: hsl(var(--muted-foreground) / .3)
  }

  .badge-city, .badge-country, .badge-continent{
    font-size: 12px;
    font-weight: 400;
    background: hsl(var(--background));
    color: hsl(var(--secondary-foreground));
    border: none;
  }

  /* .card:hover .badge-category{
    background: hsl(var(--background));
  } */

  .card:hover .badge-city, .card:hover .badge-country, .card:hover .badge-continent{
    
  }

  .badge-city:hover, .badge-country:hover, .badge-continent:hover{
    background-color: hsl(var(--input));
  }

  .lucide-square-arrow-out-up-right {
    opacity: 0;
    position: absolute;
    top: 2px;
    right: 7px;
    width: 17px;
    color: hsl(var(--muted-foreground));
}

.card-link:hover .lucide-square-arrow-out-up-right {
  opacity: 1;
}

/* SWITCH - FOR CARD BADGES */
.badges-switch{
  position: absolute;
  top: -40px;
  right: 200px;
  cursor:pointer;
}

.badges-switch label{
  cursor:pointer;
}

.badges-switch label:hover{
  opacity: 0.7;
}