.nav-menu button{
    background-color: rgba(255, 255, 255, 0);
}

.continent-badges-list{
    max-width: 100%;
}

.continent-badges-list ul{
    overflow-x: auto;
    justify-content: start;
    position: relative;
    scrollbar-color: hsl(var(--border) / .6) hsl(var(--border) / 0);
    scrollbar-width: thin;
    padding-bottom: 4px;
}

.city-badges-list ul{
    justify-content: start;   
}

.sidebar-emoji{
    /* border: 1px solid var(--gray-60); */
    /* border-radius: 6px;
    padding: 2px 4px; */
}

.continent-badges-list ul div{
    text-wrap: nowrap;
}

.nav-menu-countries{
    max-height: 90vh;
    /* overflow-y: auto; */
}

.nav-menu-countries .menu-wrapper{
    flex-wrap: wrap;
}

.nav-menu .country, .nav-menu .city, .nav-menu .continent{
    padding: 4px 12px;
    border-radius: .375rem;
}

.nav-menu .continent{
    cursor: pointer;
}

.nav-menu .country:hover, .nav-menu .city:hover, .nav-menu .continent:hover{
    background-color: var(--secondary-hover);
}
