/* PODCAST PLAYER */
  .podcast-player{
    position: absolute;
    top: 58px;
    right: 10px;
    width: 500px;
    padding: 1rem;
    background-color: hsl(var(--background));
    border-radius: 18px;
    transition: transform .5s ease-in-out;
  }

  .podcast-player iframe{
    border-radius: 12px;
  }

  .podcast-player.hide{
    /* display: none; */
    transform: translateX(700px);
  }

  .podcast-player div.relative.w-full.max-w-xs{
    margin-top: 50px;
  }