.sidebar-wrapper{
  z-index: 2 !important;
  background-color: hsl(var(--background));
}

.fixed-sidebar{
  overflow-y: auto;
  position: relative;
  scrollbar-color: hsl(var(--border) / .6) hsl(var(--border) / 0);
  scrollbar-width: thin;
}

.countries-title, .categories-title{
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    color: hsl(var(--foreground) / 0.7);
  }

  .all, .countries a, .categories a, .accordion a, .accordion button{
    padding: .25rem .50rem;
    margin: 0rem 1rem;
    border-radius: .375rem;
    color: hsl(var(--foreground) / 0.8);
  }

  .accordion .city, .categories-accordion a{
    /* padding-left: 1rem !important; */
  }

  .countries-accordion .accordion-hr{
    display: none;
  }

  .countries-accordion [data-state="open"].border-b{
    padding-bottom: .5rem;
  }

  .categories-accordion{
    margin-top: 0px !important;
  }



  .all:hover, .accordion a:hover, .categories a:hover, .accordion button:hover{
    background: hsl(var(--muted));
  }

  .categories-accordion [data-state="closed"] hr{
    display: none;
  }

  .city{
    /* --tw-text-opacity: 1;
    color: rgba(55, 65, 81, var(--tw-text-opacity)); */
  }

  .accordion-logo{
    max-width: 15px;
    height: max-content;
    margin-right: .25rem;
  }