.sidebar-wrapper{
  z-index: 2 !important;
  /* background-color: hsl(var(--background)); */
  /* background-color: var(--gray-10); */
  transition: transform .2s ease-in-out; /* Add smooth transition for transform */
}

.sidebar-wrapper.collapsed{
  transform: translateX(-100%); /* Move the sidebar to the left */
  /* visibility: hidden; */
}

.fixed-sidebar{
  overflow-y: auto;
  position: relative;
  scrollbar-color: hsl(var(--border) / .6) hsl(var(--border) / 0);
  scrollbar-width: thin;
  /* background-color: var(--sidebar); */
}

.lucide-chevrons-left, .essentials{
  color: hsl(var(--foreground) / 0.6);
  cursor: pointer;
}

.lucide-chevrons-left:hover{
  color: hsl(var(--foreground) / 0.8);
  }

  .sidebar-emoji{
    margin-right: 10px;
    font-size: 18px;
    /* border: 1px solid hsl(var(--border));
    border-radius: 6px; */
    /* padding: 4px; */
  }

  .accordion-logo{
    max-width: 18px;
    height: max-content;
  }

.country-click:hover{
  text-decoration: underline;
}

.countries-title, .categories-title{
    margin-left: 1.5rem;
    margin-right: 1.5rem;
    color: var(--sidebar-heading);
    display: flex;
    align-items: center;
    padding-bottom: 3px;
  }

  .all, .countries a, .categories a, .accordion a, .accordion button{
    padding: .25rem .50rem;
    margin: 0rem 1rem;
    border-radius: .375rem;
    color: var(--sidebar-foreground);
    font-weight: 400;
    display: flex;
    align-items: center;
  }

  .accordion .city, .categories-accordion a{
    /* padding-left: 1rem !important; */
  }

  .countries-accordion .accordion-hr{
    display: none;
  }

  .countries-accordion [data-state="open"].border-b{
    padding-bottom: .5rem;
  }

  .categories-accordion{
    margin-top: 0px !important;
  }

.essentials{
  padding: .25rem .50rem;
  margin-left: 1rem;
  margin-right: 1rem;
}

  .all:hover, .accordion a:hover, .categories a:hover, .accordion button:hover{
    background: hsl(var(--muted));
  }

  .essentials:hover{
    background: hsl(var(--muted));
    border-radius: .375rem;
  }

  .categories-accordion [data-state="closed"] hr{
    display: none;
  }

  .city{
    /* --tw-text-opacity: 1;
    color: rgba(55, 65, 81, var(--tw-text-opacity)); */
  }