/*tables.css*/

.table-container table{
    table-layout: fixed;
    width: 100%;
    overflow-x: auto;
}

.table-container th, .table-container td{
    border: 1px solid hsl(var(--input));
    /* position: relative; */
    position: sticky;
}

/* th, td {
    position: sticky !important;
} */

th:first-child, td:first-child {
    /* position: sticky !important;
    left: 276px;
    z-index: 1;
    background-color: hsl(var(--background)); */
    /* max-width:300px; */
}

.link__text-wrapper{
    overflow: hidden;
    text-wrap: nowrap;
    text-overflow: ellipsis;
}

.link__text-wrapper h3{
    overflow: hidden;
    text-overflow: ellipsis;
}

.table-container .description{
    /* position: relative; */
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.table-resize{
    cursor: col-resize;
    background-color: hsl(var(--input));
    height: 100%;
    position: absolute;
    right: -5px;
    top: 10px;
    z-index: 2;
    height: auto;
    border-radius: 2px;
    padding: 2px 0px;
}

.th-category .table-resize, .th-city .table-resize, .th-country .table-resize, .th-continent .table-resize{
    display: none;
}

.th-title, .th-category, .th-tags, .th-city, .th-country, .th-continent{
    cursor: pointer;
}

.table-container th{
    overflow: visible;
}

@media (max-width:1023px){
    th:first-child, td:first-child {
        left: 1.25rem; /* Stick to the left */
    }
}

th, .title, .category, .tags, .city, .country, .continent, .description{
    padding: 4px 12px;
    overflow: hidden;
}

.category div, .tags div{
    cursor: pointer;
}

.city a:hover, .country a:hover, .continent a:hover{
    color: aqua;
}

.table-container .city, .table-container .country, .table-container .continent{
    text-align: right;
}

.tags{
    display: flex;
    overflow: hidden;
    text-overflow: ellipsis;
}

.category div, .tags div, .city, .country, .continent{
    text-wrap:nowrap;
}